{{ form_start(form) }}
<hr>

{{ form_row(form.name) }}
{{ form_row(form.category) }}
{{ form_row(form.description) }}
<div class="trickForm-images">
    {{ form_label(form.images, null, {
        'label_attr': {'class': 'w-auto me-2'}
    }) }}
    <button id="add_image" class="btn btn-orange"><i class="fas fa-plus-circle"></i></button>
</div>
{{ form_widget(form.images) }}

<div class="trickForm-videos">
    {{ form_label(form.videos, null, {
        'label_attr': {'class': 'me-2'}
    }) }}
    <button id="add_video" class="btn btn-orange"><i class="fas fa-plus-circle"></i></button>
</div>
{{ form_widget(form.videos) }}


{# check if route is "trick_edit" #}
{% if app.request.attributes.get('_route') == 'trick_edit' %}
    <h2>Images</h2>
    {% for image in trick.images %}
        <div>
            <img src="{{ asset('build/images/tricks/' ~ image.title) }}" alt="{{ image.caption }}" width="150">
            <a href="{{ path('trick_delete_image', {id: image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}">
                Delete
            </a>
        </div>
    {% endfor %}
{% endif %}

<button class="btn btn-orange mb-3">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
