{% extends 'base.html.twig' %}

{% block title %}Edit Trick{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('trick_images') }}
    {{ encore_entry_script_tags('add_trick_videos') }}
    {{ encore_entry_script_tags('trick_form') }}
{% endblock %}

{% block body %}
    <!-- Variables -->
    {% set promotedImage = trick.promotedImage %}
    {% set backgroundImage = (promotedImage) ? asset('images/trick/' ~ promotedImage.path) : asset('images/snowboard_default.jpg') %}
    {% set author = trick.author.username %}

    <main class="trickDetails container trickForm">

        <h1 class="mainTitle">Edit Trick</h1>

        {{ form_start(form) }}
        <!-- Hero -->
        <div class="hero details-hero container">
            <div class="alter-buttons">
                <a href="#" class="d-inline-block btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
            </div>
            <div class="hero-image"
                 style="background: url({{ backgroundImage }}), linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));">
                <div class="hero-text">
                    <h1 class="catchPhrase mainTitle">{{ trick.name }}</h1>
                </div>
            </div>
        </div>

        <!-- Tricks section -->
        <section id="section_tricks" class="section-tricks">
            <div class="container mt-3">
                <div class="row">
                    <div class="col text-center desktop-hidden">
                        <button id="seeMediasBtn" class="seeMedias btn btn-orange">See medias</button>
                    </div>
                </div>

                <div id="trickMedias" class="row section-tricks-medias mx-auto my-auto container">
                    {% for image in trick.images %}
                        {% if image.path != promotedImage.path %}
                            <div class="col-12 col-sm-6 col-lg-2 mt-3 media-container">
                                <div class="card">
                                    <img src="{{ asset('images/trick/' ~ image.path) }}"
                                         class="img-fluid" alt="{{ image.caption }}" data-bs-toggle="modal"
                                         data-bs-target="#media-modal-img-{{ loop.index }}">
                                </div>
                                <div class="alter-buttons mt-2">
                                    <a href="{{ path('trick_promote_image', {id: image.id}) }}" class="d-inline-block btn btn-primary btn-sm promote-image"
                                       data-token="{{ csrf_token('promote' ~ image.id) }}"><i
                                                class="fas fa-star"></i></a>
                                    <a href="{{ path('trick_delete_image', {id: image.id}) }}"
                                       data-token="{{ csrf_token('delete' ~ image.id) }}"
                                       class="data-delete d-inline-block btn btn-danger btn-sm"><i
                                                class="fas fa-trash-alt"></i></a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% for video in trick.videos %}
                        <div class="col-12 col-sm-6 col-lg-2 mt-3 media-container">
                            <div class="card">
                                <img src="{{ video.thumbnail }}"
                                     class="img-fluid" alt="{{ trick.name }} video" data-bs-toggle="modal"
                                     data-bs-target="#media-modal-vid-{{ loop.index }}">
                            </div>
                            <div class="alter-buttons mt-2">
                                <a href="{{ path('trick_delete_video', {id: video.id}) }}"
                                   data-token="{{ csrf_token('delete' ~ video.id) }}"
                                   class="d-inline-block btn btn-danger btn-sm data-delete"><i
                                            class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="col-12 col-sm-6 col-lg-2 mt-3">
                        <div class="card">
                            <button id="add_medias" class="btn btn-orange h-100"><i class="fas fa-plus-circle"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- form images and videos -->
            <div id="edit_media_fields" class="d-none">
                <div class="trickForm-images mt-5">
                    {{ form_label(form.photos, null, {
                        'label_attr': {'class': 'w-auto me-2'}
                    }) }}
                    <button id="add_image" class="btn btn-orange"><i class="fas fa-plus-circle"></i></button>
                </div>
                {{ form_widget(form.photos) }}

                <div class="trickForm-videos">
                    <div class="trickForm-videos-legend">
                        {{ form_label(form.links, null, {
                            'label_attr': {'class': 'me-2'}
                        }) }}
                        <button id="add_video" class="btn btn-orange"><i class="fas fa-plus-circle"></i></button>
                    </div>
                    <div class="trickForm-videos-each">
                        {{ form_widget(form.links) }}
                    </div>

                </div>

            </div>
            <!-- end form images and videos -->

            <!-- modals -->
            {% for image in trick.images %}
                <div class="modal fade" id="media-modal-img-{{ loop.index }}" tabindex="-1"
                     aria-labelledby="modal-title" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            <img src="{{ asset('images/trick/' ~ image.path) }}"
                                 class="img-fluid" alt="{{ image.caption }}" data-bs-toggle="modal"
                                 data-bs-target="#media-modal-img-{{ loop.index }}">
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% for video in trick.videos %}
                <div class="modal modalCustom fade" id="media-modal-vid-{{ loop.index }}" tabindex="-1"
                     aria-labelledby="modal-title" aria-hidden="true">
                    <div class="modal-dialog modalCustom-dialog">
                        <div class="modal-content modalCustom-content">
                            <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            <iframe width="100%" src="{{ video.url }}"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    data-bs-toggle="modal" data-bs-target="#media-modal-vid-{{ loop.index }}">
                            </iframe>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <!-- end modals -->
        </section>
        {{ form_errors(form) }}
        <section class="trickForm-inputs mt-5">
            {{ form_row(form.name) }}
            {{ form_row(form.category) }}
            {{ form_row(form.description) }}

            <div class="mb-3 d-flex justify-content-end">
                <a class="btn btn-danger me-2" href="#">Delete</a>
                <button class="btn btn-success">{{ button_label|default('Save') }}</button>
            </div>

        </section>

        {{ form_end(form) }}

        {{ include('trick/_delete_form.html.twig') }}
    </main>
{% endblock %}
